[submodule "protobufs"]
	path = protobufs
	url = https://github.com/meshtastic/protobufs.git
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
[submodule "vendor/secp256k1-embedded"]
	path = vendor/secp256k1-embedded
	url = https://github.com/diybitcoinhardware/secp256k1-embedded.git
